# SWR
SWR_REGISTRY=swr.la-south-2.myhuaweicloud.com
SWR_NAMESPACE=demo-cci

# Backend
MENSAJE_DEMO=¡Hola desde el backend en Huawei CCI!

# ELB ID para el LoadBalancer service (CCI)
ELB_ID=<pegar-tu-elb-id-aqui>
